@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.header {
  padding: 1rem 0;
  position: sticky;
  background-color: transparent;
  backdrop-filter: blur(.5rem);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.theme-toggle {
  display: flex;
  width: 70px;
  height: 32px;
  padding: 4px;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
}

[data-theme="light"] .theme-toggle .toggler {
  left: 2px;
  top: 2px;
}

[data-theme="dark"] .theme-toggle .toggler {
  left: auto;
  top: 2px;
  right: 2px;
}

/* .theme-toggle .toggler {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100%;
} */